.middle{
    display: flex;
}

.middle-images img{
    width: 160px;
    height: 220px;
    border-radius: 10px;
    
}

.hedding-text h6{
    color: #3D72D0;
}
.card-blog{
    
    background-color: #FFFFFF;
    border: 1px solid #EDEDED;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
/* right blog  */

.right-title{
    background-color: #3D72D0;
    border-radius: 10px 10px 0px 0px;
    color: white;
    font-weight: 700;
    font-size: 18px;
    padding: 15px;
    
}
.card-title-blog{
    background-color:  #F1F6FF;
}
.border-title{
    border: 1px solid #DBE3F0;
    margin: 0px;
}
.blog-title-p p{
    font-size: 13px;
}
.fa-blog-icon{
    padding-left: 20px;
}