.my-avater{
    margin-top: 165px;

}
.my-title{
    padding-top: 90px;
    color: black;
    padding-left: 30px;
    
}
.button-my{
    background-color: #EDEDED;
    border: none;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    
}

.button-my:hover{
    background-color: #3D72D0;
    
}
.card-title-blog{
    background-color:  #F1F6FF;
}
.border-title{
    border: 1px solid #DBE3F0;
    margin: 0px;
    
}
.fa-title{
    padding-left: 20px;
}
.my-text-title{
    font-size: 26px;
}
.my-message-title{
    background-color:  #F7F7F7;
    padding: 10px;
    
}
.my-point{
    background-color:  #F1F6FF;
    padding: 10px;
}