@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Island+Moments&family=Lobster&family=Poppins:wght@700&family=Roboto+Condensed&family=Roboto:wght@500&display=swap');
body{
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* main section  */
.main-img{
    margin: 20px;
    padding: 20px;
    border-radius: 40px;
    width: 350px;
}
.main-hedding h1{
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 49px;
    color: #3D72D0;
    padding-top: 30px;
   
}
.main-hedding p{
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #3F3F3F;
    padding-top: 30px;
    
}



/* main section  two*/
.section-two{
    background-color: #EDF1F9;
     
}
.section-tow-card{
    background-color: #FFFFFF;
    height: 220px;
    border-radius: 10px;
    text-align: center;
    padding-top: 15px;
}




/* HAPPY STORIES   */
.section-three{
    background-color: #F5F5F5;
    width: 100%;
    padding-bottom: 30px;
  
}
.section-three-card{
    width: 345px;
    height: 240px;
    background-color: #FFFFFF;
    border-radius: 15px;
    margin: 0 0 50px 30px;
    border: 1px solid #C8C8C8 ;
    
}
.section-three-card img{
    border-radius: 10px;
    margin: 5px;
    width: 100px;
    height: 80px;
}
.section-three-title {
   padding: 40px 0 0 10px;
  
}
.section-three-title a{
    color: black;
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 20px; 
}
.section-three-title a:hover{
    color: #6c98e1;

}

.three-section{
   padding:0 10px 10px 20px;
    font-size: 15px
}
.section-three-mor{
    color: #607890;
    background-color: #3D72D0;
    border-radius: 5px;  
}
.section-three-mor:hover{
    color: #3F3F3F;
}



/* main section three  */
.last-sesstion{
    background-color: #F8F8F8;
}
.card-blog{
    background-color: #FFFFFF;
    border: 1px solid #EDEDED;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
    border-radius: 20px;
      
}
.card-body h5{
    color: #607890;
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    padding: 5px 0 0 5px;
}
.card-body h5:hover{
    color: #150a3f;
}

.button{
    width: 200px;
    height: 40px; 
    background-color: #3D72D0; 
    border-radius: 5px;
    color: #607890;
    border: none;
    margin-bottom: 20px;
}
.button:hover{
    color: #3F3F3F;
}



/* footer  */
.container-footer{
    background-color: black;
    color: white;
    padding: 30px 0 30px 0;
   
}

.site-footer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 5px 2px;
}
.site-one img{
    width: 160px;
    height: 53px;

}
.site-grid{
    display: flex;
    justify-content: space-around;
}
.site-two{
    font-size: 14px;
    line-height: 17px;
}


.site-img img{
    width: 134px;
    height: 40px;
    padding: 2px;
}
.footer-icon{
    text-align: center;
   font-size: 25px;
   margin-top: 40px;
   
}
.footer-icon a i{
   color: #7D7D7D;
   padding: 10px;
}

.foot-text{
    
    width: 100%;
    padding: 20px;
    

}
.foot-text p{
    text-align: center;
    font-weight: 400;
    font-size: 14px;
}
.border{
    border: 1px solid #505050;
    margin: 20px 0 20px 0;
}
@media (max-width:688px) {
    .site-footer{
        display: grid;
        grid-template-columns: 1fr;
        padding: 10px;
        margin-left: 25px;
    }

}
