@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Island+Moments&family=Lobster&family=Poppins:wght@700&family=Roboto+Condensed&family=Roboto:wght@500&display=swap');
body{
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-around;
    background-color: #F5F5F5;
    padding: 20px 0 20px 0;
    
}
.nav-logo img{
    width: 160px;
    height: 53px;
}
.nav-manu{
    display: flex;
    align-items: center;
}
.nav-manu li{
    list-style: none;
    padding: 0px 10px;
}

.nav-manu a{
    text-decoration: none;
    font-size: 15px;
    color: #3D72D0;
}

/* main section  */
.main-img{
    margin: 20px;
    padding: 20px;
    border-radius: 40px;
    width: 70%;
}
.main-hedding h1{
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 49px;
    color: #3D72D0;
    margin: 30px;
}
.main-hedding p{
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #3F3F3F;
    margin: 30px;
}
/* main section  two*/
.section-two{
    background-color: #EDF1F9;
    width: 100%;
    padding: 2px 0 2px 0;
  
}
.section-tow-card{
    width: 180px;
    height: 220px;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin-left: 30px;
    margin-bottom: 50px;
    
}

.section-tow-name{
    text-align: center;
}
.section-tow-word{
    color: #7185AD;
}

/* main section three  */
.section-three{
    background-color: #F5F5F5;
    width: 100%;
    padding: 2px 0 2px 0;
    margin-bottom: 10px;
}
.section-three-card{
    width: 345px;
    height: 220px;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin-left: 30px;
    margin-bottom: 50px;
    border: 1px solid #C8C8C8 ;
    
}
.section-three-card img{
    border-radius: 10px;
    margin: 5px;
    width: 100px;
    height: 80px;
}
.section-three-title{
   margin: 20px;
   
}

.section-three-mor{
    color: #3D72D0;
    
}











/* footer  */
.container-footer{
    background-color: black;
    color: white;
    padding: 30px 0 30px 0;
   
}

.site-footer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 5px 2px;
}
.site-one img{
    width: 160px;
    height: 53px;

}
.site-grid{
    display: flex;
    justify-content: space-around;
}
.site-two{
    font-size: 14px;
    line-height: 17px;
}
.site-two a{
    padding: 3px;
}
.site-img img{
    width: 134px;
    height: 40px;
    padding: 2px;
}
.footer-icon{
    text-align: center;
   font-size: 25px;
   margin-top: 40px;
   
}
.footer-icon a i{
   color: #7D7D7D;
   padding: 10px;
}

.foot-text{
    
    width: 100%;
    padding: 20px;
    

}
.foot-text p{
    text-align: center;
    font-weight: 400;
    font-size: 14px;
}
.border{
    border: 1px solid #505050;
    margin: 20px 0 20px 0;
}
@media (max-width:688px) {
    .site-footer{
        display: grid;
        grid-template-columns: 1fr;
        padding: 10px;
        margin-left: 25px;
    }

}
